.section-container{
    display: flex;
    flex-direction: column;

    .subtitle{
        margin: 25px;
    }   

    .certification-container{
        margin: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        column-gap: 15px;
        row-gap: 15px;
        color: $dark-blue;
        
        .certification-card{
            border: $card-border;
            height: 100px;
            width: 100%;
            padding: 25px 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            a{
                text-decoration: none;
                color: $dark-blue;
            }
        }
        
    }


}