.footer{
    margin: 0;
    width: 100%;
    background-color: $dark-blue;
    color: $burnt-yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .subtitle{
        margin: 10px;
    }
    .contact-container{
        display: flex;
        width: 100%;
     
        .contact-item{
            text-align: center;
            padding: 12px;
            width: 25%;
            
            a{
                color: $burnt-yellow;
            }
        }
    }

}