// Colors
$white: #FFFFFF;
$dark-blue : #14223d;
$dark-blue-blur : #14223d99;
$burnt-yellow: #f4a912;

$test: 1px solid red;

// Fonts
$font-Lato: 'Lato', sans-serif;
$font-Poppins: 'Poppins', sans-serif;

//Viewport size
$mobile-size: 320px;
$mobile-medium-size: 420px;
$tablet-size: 768px;
$desktop-size: 1280px;
$desktop-medium-size: 1440px;
$desktop-medium-size: 2160px;


$card-border: 1px solid $dark-blue;