// Imports
@import 'modules/variables';
@import 'modules/nav';
@import 'modules/about_me';
@import 'modules/skills';
@import 'modules/projects';
@import 'modules/certifications';
@import 'modules/footer';


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@300;400;500;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.show{
    display: flex !important;
}

.hide{
    display: none !important;
}

@media (min-width:$mobile-size){
    
    .main{
        min-width: $mobile-size;
        max-width: $mobile-medium-size;
        background-color: $white;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        
    }
    
    .body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $font-Lato;

        .title{
            display: flex;
        }
    }

}